{{ define "main" }}
<h1>{{ .Title }}</h1>

<em>{{ .PublishDate.Format "Jan. 2, 2006" }}  //  reading time: {{ .ReadingTime }} min</em>
<!-- {{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }} -->

<br/><br/>
{{ .Content }}

{{ template "_internal/disqus.html" . }}
{{ end }}