{{ with .Site.Params.footer}}
<div class="footer">
    {{ .copyright | markdownify }}
    <a href="{{ .ImprintURL | absURL }}">{{ .nameImprint | markdownify }}</a> and <a href="{{ .PrivacyURL | absURL }}">{{ .namePrivacy | markdownify }}</a>.
</div>
{{ end }}